.appointment-doctor-card-container {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f2f0f0;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  cursor: pointer;
}

.appointment-doctor-card-container .doctor-card-picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.appointment-doctor-card-container .doctor-card-picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.appointment-doctor-card-container:hover .doctor-card-picture::before {
  height: 100%;
}

.appointment-doctor-card-container .doctor-card-picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  top: 0;
  left: 0;
  z-index: -1;
}

.appointment-doctor-card-container .doctor-card-picture .user-avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.appointment-doctor-card-container:hover .doctor-card-picture .user-avatar {
  box-shadow: 0 0 0 5px #f7f5ec;
}

.appointment-doctor-card-container .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.appointment-doctor-card-container .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.appointment-doctor-card-container:hover .social {
  bottom: 0;
}

.appointment-doctor-card-container .social li {
  display: inline-block;
}

.appointment-doctor-card-container .social li .btn-book-appointment {
  display: block;
  padding: 10px;
  font-size: 16px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.arrow-icon {
  vertical-align: middle;
}

.break-line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}