@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.inquiry-container {
    animation: fadeIn 1s;
    min-height: calc(100vh - 125px);
}

.inquiry-container .inquiry-title h4 {
    font-weight: 600;
}

.inquiry-title button {
    padding: 5px 10px;
    font-weight: 600 !important;
}

.MuiToggleButtonGroup-grouped {
    padding: 5px 10px;
    font-weight: 600 !important;
    letter-spacing: 1px;
}

.MuiToggleButtonGroup-grouped:focus {
    outline: none;
}