@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.newsletter-mail-form-container {
  background: url("../../../../Assets/Backgrounds/Newsletter-bg.png");
  background-size: cover;
  background-position: center center;
  width: 100%;
  background-repeat: no-repeat;
  min-height: calc(100vh-125px);
  box-sizing: border-box;
  padding: 0px !important;
}
.NewsletterEmailLogo {
  width: 50%;
}

.newsletter-mail-form-title {
  background: -webkit-linear-gradient(
    90deg,
    rgba(8, 0, 139, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.newsletter-mail-form-container {
  animation: fadeIn 1s;
  width: 100%;
  height: 100vh;
  padding: 0px !important;
}

.newsletter-form-container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  width: 65%;
  
}

.form-control {
  width: 100%;
  position: relative;
  outline: none;
  border: none;
  padding: 0;
}

.newsletter-mail-form-container .input-field,
.newsletter-mail-form-container .btn-submit,
.newsletter-mail-form-container .btn-submit:focus {
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.1em;
}

.newsletter-mail-form-container .input-field {
  width: 100%;
  background: #ffffff;
  color: #333;
  letter-spacing: 0.5px;
  padding: 14px 64px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.newsletter-mail-form-container .message-container ~ i {
  position: absolute;
  left: 32px;
  top: 17%;
  transform: translateY(-50%);
  color: #888;
  transition: color 0.4s;
}
.newsletter-mail-form-container .title-container ~ i {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  transition: color 0.4s;
}
.form-control {
  background: none;
}
.form-control > input ~ i {
  color: #8fb7df;
}

.invalid-input > input ~ i {
  color: rgb(240, 128, 128);
}

.newsletter-mail-form-container .btn-submit {
  color: #fff;
  padding: 14px 64px;
  margin: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #587ca0, #99ecf6);
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.4s;
}

.newsletter-mail-form-container .btn-submit:hover {
  opacity: 0.9;
}

.login-error-message {
  color: rgb(255, 104, 104);
  font-weight: 400;
  font-size: 14px;
  height: 15px;
}
.text-area-container > .input-field {
  resize: none;
}

/* .text-area-container > .message-container ~ i {
  top: %;
} */


