.prescription-header {
  background-color: #0b8fdc;
  height: fit-content;
}
.prescription-content-container hr {
  border: 1px solid rgb(185, 183, 183);
}
.prescription-doctor-name {
  color: #0b8fdc;
}
.table-borderless td,
.table-borderless th {
  border: none;
  padding-left: 0px !important;
  font-size: 20px;
}
.table-borderless th {
  color: #0b8fdc;
}
