.prescription-container {
  background: url("../../../Assets/Patient-dashboard-prescription-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  font-family: "Jost", sans-serif;
  background-attachment: fixed;
  display: flex;
  justify-content: right;
}
.prescription-content{
  align-self: center;
}
.btnLetsGo {
    background-color: aliceblue;
  color: #0b8fdc;
  border: none;
  font-size: 1.8rem;
  line-height: 2.4rem;
  border-radius: 5px;
  padding: 3px 40px;
  transition: color 0.25s;
}
.btnLetsGo:hover {
  color: rgb(89, 153, 217);
  cursor: pointer;
}

@media (max-width: 1000px) {
    .prescription-container{
      background-image: none;
      background-color: #0b8fdc;
      display: flex;
      justify-content: left;
      height: 50vh;
    }
  }
