.department-img {
  width: 100%;
  height: 410px;
}
.department-container,
.department-doctor-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.text-blue{
  color: #0b8fdc;
}


@media (max-width: 993px) {
  .department-container {
    flex-wrap: wrap;
  }
  .info-para {
    margin-top: 0px !important;
  }
}
