.backup-card .title {
    text-transform: capitalize;
}

.backup-card .btn-export {
    padding: 10px 30px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(45deg, rgba(8, 0, 139, 1) 0%, rgba(9, 9, 121, 1) 26%, rgba(0, 212, 255, 1) 100%);
    letter-spacing: 2px;
    transition-duration: 0.4s;
    overflow: hidden;
    position: relative;
}

.backup-card .btn-export:after {
    content: "";
    background: #c0c0c0;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -50px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.backup-card .btn-export:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.backup-card .btn-export:focus {
    outline: none;
}