@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.view-hospital-container {
  animation: fadeIn 1s;
  background-color: #fafbff;
}

.view-hospital-card,
.department-doctor-container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.text-blue {
  color: #0b8fdc;
}

.view-hospital-title {
  font-size: 45px;
}

.view-hospital-profile-container {
  background-color: #0b8fdc;
  border-bottom-right-radius: 5px;
}

.view-hospital-profile-container .hospital-icon {
  width: 40%;
  border-radius: 50%;
}