.patient-dashboard-container{
  height: calc(100vh - 55px);
  background-color: #fafbff;
}

.patient-dashboard-vector-image{
  width: 100%;
}
.patient-dashboard-welcome-title{
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(121,121,121,0.58);
}
.patient-dashboard-welcome-description{
  font-size: 21px;
  text-shadow: 1px 1px 1px rgba(121,121,121,0.58);
}
.btnAppointment{
  background-color: #0b8fdc;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 12px 50px;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.4s;
  font-size: 19px;
  font-weight: 600;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btnAppointment:hover {
  opacity: 0.9;
}

@media (max-width: 1000px) {
  .patient-dashboard-vector-container{
    display: none;
  }
  .patient-dashboard-container{
    height: 100%;
  }
}
