.prescription-container {
  height: 80vh;
  font-family: "Jost", sans-serif;
  display: flex;
  justify-content: right;
}

.prescription-container-wrapper-lg,
.prescription-container-wrapper-md {
  position: relative;
}

.prescription-container-wrapper:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.prescription-container-wrapper-md:before {
  background-image: url('../../../../../Assets/Backgrounds/Patient-dashboard-prescription-responsive-bg.png');
}

.prescription-container-wrapper-lg:before {
  background-image: url('../../../../../Assets/Backgrounds/Patient-dashboard-prescription-bg.png');
}

.prescription-content {
  align-self: center;
}

.btnLetsGo {
  background-color: aliceblue;
  color: #0b8fdc;
  border: none;
  font-size: 1.8rem;
  line-height: 2.4rem;
  border-radius: 5px;
  padding: 3px 40px;
  transition: color 0.25s;
}

.btnLetsGo:hover {
  color: rgb(89, 153, 217);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .prescription-container {
    background-color: #0b8fdc;
    display: flex;
    justify-content: left;
    height: 50vh;
  }
  .prescription-container-wrapper-md::before,
  .prescription-container-wrapper-lg::before {
    background-image: none;
  }
}