@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s;
}

.profile-container {
    min-height: calc(100vh - 125px);
}

.profile-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile-card .label {
    font-weight: 600;
    color: rgb(162, 161, 161);
    letter-spacing: 1px;
}

.profile-card .value {
    font-weight: 600;
    font-size: 20px;
}