@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.patients-list-container {
    animation: fadeIn 1s;
}

.patient-list-container {
    animation: fadeIn 1s;
}

.patients-list-container .patient-id-input .MuiInputBase-root input {
    text-transform: uppercase;
}

.patients-list-container .MuiButtonBase-root {
    padding: 7px;
    border-radius: 50%;
}

.patients-list-container .btn-search {
    border-radius: 5px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    border: none;
    background: linear-gradient(90deg, rgb(13, 3, 213) 0%, rgb(12, 12, 195) 26%, rgba(0, 212, 255, 1) 100%);
    padding: 15px 10px;
    cursor: pointer;
    opacity: 0.9;
}