@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.prescription-list-container {
    animation: fadeIn 1s;
    position: relative;
}

.prescription-table {
    background-color: #ffffff;
}

.prescription-table tr td,
.prescription-table tr th {
    font-size: 18px;
}

.prescription-table thead {
    background-color: #0b8fdc;
}

.prescription-table tbody .border-blur {
    border-bottom: 1px solid#0b8fdc;
}

.prescription-action button {
    padding: 5px;
    border-radius: 50%;
    color: #0b8fdc;
}