.btn-add-medicine {
    background-color: rgb(210, 210, 255) !important;
    color: blue !important;
}

.btn-add-medicine:focus,
.btn-remove-medicine:focus {
    outline: none;
}

.btn-remove-medicine {
    background-color: rgb(255, 210, 218) !important;
    color: rgb(255, 0, 81) !important;
}
