.servicecard-container{
    background-color: #fafbff;
    font-family: "Jost", sans-serif;
    width: 350px
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.card {
  min-width: 320px;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  transition: .5s;
  border: none;
  background: linear-gradient(-45deg, #9fe1ed, #0a609a);
}
.card:hover {
  transform:scale(1.1);
}

.card:before {
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
}

.title .fa, .landing-page-microscope {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}
.title h2 {
  /* position: relative; */
  margin: 20px 0 0;
  padding: 0;
  color: whitesmoke;
  font-size: 25px;
  font-weight: 600;
  z-index: 2;
}
.option {
  /* position: relative; */
  z-index: 2;
}
.option ul {
  margin: 0;
  padding: 0;
}
.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: whitesmoke;
  font-size: 17px;
}
